/* Cite: Eric Meyer CSS reset: http://meyerweb.com/eric/tools/css/reset/ --------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Typography -------------------------------------- */
body {
  background-color: #fff;
  top: 70px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Chonburi', Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #E53935;
}

h1 {
  font-size: 50px;
  line-height: 58px;
}

.header {
  font: 50px/58px 'Chonburi', Helvetica, Arial, sans-serif;
  font-weight: 600;
}

p {
  font: 16px/24px 'Raleway', Helvetica Arial, sans-serif;
  color: #616161;
}

table {
  font: 14px/24px 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: lighter;
  border-spacing: 0px;
  color: #000000;
  max-width: 100%;
}

td {
  border-bottom: 1px solid gray;
  padding: 3%;
  text-align: left;
}

th {
  border-bottom: 1px solid gray;
  padding: 3%;
  text-align: left;
  font-weight: bold;
}

hr {
  margin: 60px 0px;
}

ul, ol {
  font: 16px/24px 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #616161;
  padding: 0px 30px 30px;
  display: inline-block;
  text-align: left;
  list-style-type: none;
}

li {
  font: 14px/24px 'Raleway', Helvetica, Arial, sans-serif;
  color: #616161;
  padding: 0px;
  transition: 0.3s ease all;
  padding: 4px 0px;
}

li:hover {
  color: #fff;
  background-color: #E53935;
}


/* Header Section ---------------------------- */

header {
  background: rgba(255,255,255,0.8);
  height: 45px;
  z-index: 200;
  margin: 0 auto;
  border-bottom: 1px solid #dadada;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: right;
  padding-top: 20px;
}

#logo {
  float: left;
  font: 18px/38px 'Chonburi', Helvetica, Arial, sans-serif;
  color: #E53935;
  padding-left: 30px;

}

#logo a {
  color: #E53935;
  text-decoration: none;
  transition: 1s ease all;
}

#logo a:hover {
  color: #616161;
  text-decoration: none;
}

#main-nav a {
  font: 14px/24px 'Raleway', Helvetica, Arial, sans-serif;
  color: #616161;
  padding: 0px;
  transition: 1s ease all;
  padding: 25px 40px;
  text-decoration: none;
}

#main-nav a:hover {
  border-bottom: 1px solid #E53935;
  color: #E53935;
  background-color: #f9f9f9;

}

/* Banner ---------------------------------- */
.backimage {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    ),url(donut1.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  max-height: 600px;
  max-height: 600px;
  text-align: center;
  padding: 15% 0%;
}

.sh1 {
  font: 60px/68px 'Chonburi', Helvetica, Arial, sans-serif;
}

.sp {
  font: 20px/28px 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.of {
  font: 40px/28px 'Bad Script', cursive;
}



/* Body ------------------------------------*/

#container {
  margin: 8%
}

.tablecenter {
  text-align: center;
}

#stylebox {
  margin: 5%;
  padding: 5%;
  border: 15px solid #bdbdbd;
}

button {
  display: inline-block;
  margin: 40px;
  transition: 1s ease all;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 7px 20px;
  color: #E53935;
  background-color: #fff;
}

button:hover{
  background-color: #E53935;
  color: #fff;
}

.white {
  color: #fff;
}

.red {
  color: white;
  background-color: #E53935;
  padding: 20% 0;
}

.lightgrey {
  color: grey;
  background-color: #f5f5f5;
  padding: 20% 0;
  border: 1px solid grey;
}

.grey {
  color: white;
  background-color: #bdbdbd;
  padding: 20% 0;
}

.darkgrey {
  color: white;
  background-color: #616161;
  padding: 20% 0;
}

.color-box{
  display: inline-block;
  width: 24%;
  text-align: center;
}

footer p{
  text-align: right;
}

#dataDIV {
  text-align: center;
}

label.required {
	color: red;
}

input.required {
	background-color: #ffaaaa;
}

.small-text {
	color: red;
	font: 12px/24px 'Raleway', Helvetica Arial, sans-serif;
}
